@import "../variables";

.search-form {
  position: relative;

  input {
    border: none;
    border-radius: 0.25rem;
    box-shadow: #00000054 0px 0.06em 0.75em;
    font-size: 1rem;
    padding: 1.25rem;
    width: 20rem;
  }

  button {
    background-color: unset;
    border: none;
    border-radius: 0.2rem;
    color: $color-blue-light;
    display: flex;
    padding: 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}