
$border: 0.2rem solid lightgray;

$color-blue-dark: #6bbce1;
$color-blue-light: #3ea2d0;
$color-gray: #e5e5e5;
$color-red: #b98080;

$rotate: rotate 1s linear infinite;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}