@import "./variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $color-blue-light;
  text-decoration: none;
}